.Login-container {
    padding: 16px 16px 125px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Login-title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}