.Main-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.Nav-item {
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
}

.Nav-item :hover {
    color: orangered;
}

.Nav-item__link {
    text-decoration: none;
    color: #fff;
}