.Main-authNav {
    display: flex;
    list-style: none;
    padding: 0;
}

.AuthNav-item {
    padding: 8px 16px;
    border-radius: 4px;
    color: black;
    font-weight: 500;
}

.AuthNav-item :hover {
    color: orangered;
}

.AuthNav-item__link {
    text-decoration: none;
}