.Main-authNav {
    margin-left: auto;
}

.Main-authNav__list {
    display: flex;
    list-style: none;
    padding: 0;
}

.Main-authNav__list-item {
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
}

.Main-authNav__list-item :hover {
    color: orangered;
}

.Main-authNav__list-item-link {
    color: #fff;
    text-decoration: none;
}