.UserMenu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: auto;
}

.User {
    display: flex;
    flex-direction: column;
}

.User__name {
    margin-bottom: 8px;
}

.User__email {
    margin: 0;
}
